/sqlite/stonks - Copy.db
/sqlite/stonks.db
/Stonks Files/Input/Manual Checks/
/Stonks Files/Overall Good Symbol Spreadsheets/*
/Stonks Files/How-To-Value-Stocks-by-Value-Spreadsheet.pdf
/Stonks Files/Intrinsic-Value-Spreadsheet.xlsx
/Stonks Files/Individual Good Symbol Spreadsheets/*
/venvHome
/powershell.exe
/file_equiv.py